@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la valoración de Activos</h1>
    <br />
    <button  onclick="location.href='@Url.Action("Index", "Activoes")'" class="btn btn-primary">Agregar Activos</button>
</div>
