@{
    ViewData["Title"] = "Política de privacidad";
}

<h1>@ViewData["Title"]</h1>

<p>Gracias por visitar nuestro sitio web. En esta página, le informamos sobre nuestra política de privacidad y cómo se manejan sus datos personales cuando utiliza nuestro sitio web.</p>

<h2>Recopilación y uso de información</h2>

<p>Cuando visita nuestro sitio web, su navegador automáticamente nos proporciona cierta información, como su dirección IP, tipo de navegador, idioma, páginas que visita en nuestro sitio y la hora de su visita. Esta información es utilizada por nuestro sitio web para proporcionarle una mejor experiencia de usuario y para mejorar la calidad de nuestros servicios.</p>

<p>Además, si nos proporciona información personal a través de nuestro sitio web, como su nombre, dirección de correo electrónico o número de teléfono, esta información se utilizará para responder a sus preguntas o para proporcionarle la información solicitada.</p>

<h2>Cookies y tecnologías similares</h2>

<p>Utilizamos cookies y tecnologías similares para recopilar información sobre el uso de nuestro sitio web y para mejorar su experiencia de usuario. Las cookies son pequeños archivos de texto que se colocan en su dispositivo cuando visita nuestro sitio web. Las cookies nos permiten reconocer su dispositivo y recordar sus preferencias de usuario, como su idioma y las páginas que visita.</p>

<p>Al utilizar nuestro sitio web, usted acepta el uso de cookies y tecnologías similares de acuerdo con esta política de privacidad. Si no desea aceptar cookies, puede configurar su navegador para que las rechace o para que le notifique cuando se coloque una cookie en su dispositivo.</p>

<h2>Divulgación de información</h2>

<p>No compartimos su información personal con terceros, excepto en los siguientes casos:</p>

<ul>
    <li>Si nos lo solicita una autoridad judicial o administrativa;</li>
    <li>Para proteger nuestros derechos legales y propiedad; o</li>
    <li>En el caso de una fusión, adquisición o venta de la totalidad o parte de nuestros activos, en cuyo caso informaremos al comprador de que debe cumplir con esta política de privacidad.</li>
</ul>

<h2>Seguridad</h2>

<p>Tomamos medidas razonables para proteger su información personal contra el acceso no autorizado, la divulgación y el uso indebido. Sin embargo, no podemos garantizar que sus datos estarán completamente seguros debido a la naturaleza de Internet.</p>

<h2>Cambios a esta política de privacidad</h2>

<p>Podemos actualizar esta política de privacidad de vez en cuando para reflejar cambios en nuestras prácticas de privacidad. Si hacemos cambios significativos, le informaremos publicando una versión actualizada en nuestro sitio web. Le recomendamos que revise esta política de privacidad regularmente.</p>

<h2>Contacto</h2>

<p>Si tiene alguna pregunta sobre nuestra política de privacidad, comuníquese con nosotros a través de nuestro sitio web.</p>
